#DiVslides {
    position: relative;
    width: 500px;
    height: 500px;
}

#DiVslides img {
    position: absolute;
    margin: auto;
    padding: auto;
    max-height: 100vh;
    max-width: 100vw;
    display: none;
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./images/splash.gif");
    background-position: center;
    background-size: cover;
    z-index: 9999;
  }
  
  #splash-content {
    position: absolute;
    
    top: 50
  }
  
